/* search.css */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 500px; /* Control for large screens */
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 12px;
    width: 60%;
    border: 1px solid #333;
    border-radius: 8px 0 0 8px;
    background-color: #2b2b2b;
    color: #e1e1e1;
    outline: none;
}

input[type="text"]:focus {
    border-color: #007aff;
    box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
}

button, .result button {
    padding: 12px 20px;
    border: none;
    background-color: #28a745; /* Green as primary action color */
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, .result button:hover {
    background-color: #218838; /* Darker green on hover */
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #00cc66; /* Stylish green color for links */
    font-size: 1rem;
    transition: color 0.2s ease;
}

a:hover {
    color: #00b4d8; /* Lighter blue on hover */
}

.back-to-home {
    color: white;
    padding: 8px 16px;
    background-color: #28a745; /* Consistent green background */
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.back-to-home:hover {
    background-color: #218838; /* Darker green on hover */
    color: #121212; /* Text color changes for readability */
}

.result {
    text-align: center;
    margin-top: 20px;
}

.result p {
    font-size: 1.2em;
    color: #e1e1e1;
}

.result button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.result button:hover {
    background-color: #218838;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #2b2b2b;
    transition: background-color 0.3s;
}

.contact-item:hover {
    background-color: #333;
}

.contact-profile-pic, .result-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #555;
}

.contact-item span, .result p {
    font-size: 1.2em;
    font-weight: bold;
}
